@use '@angular/material' as mat;

:root {
  @include mat.theme((
    color: (
      theme-type: dark,

      primary: mat.$blue-palette,
      tertiary: mat.$yellow-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  --mat-sys-primary: #FFFFFF;
  --mat-sys-on-primary: #2F3131;
  --mat-sys-primary-container: #E2E2E2;
  --mat-sys-on-primary-container: #636565;

  --mat-sys-secondary: #FFB59E;
  --mat-sys-on-secondary: #5E1700;
  --mat-sys-secondary-container: #CF3F05;
  --mat-sys-on-secondary-container: #FFF7F5;

  --mat-sys-tertiary: #C8C5CD;
  --mat-sys-on-tertiary: #303036;
  --mat-sys-tertiary-container: #1E1E24;
  --mat-sys-on-tertiary-container: #87858D;

  --mat-sys-surface: #141314;
  --mat-sys-on-surface: #E5E2E2;
  --mat-sys-background: #141313;
  --mat-sys-on-background: #E5E2E1;
}