body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--mat-sys-surface);
}

a, p, h1, h2, h3, h4, h5, h6 {
color: var(--mat-sys-on-surface);
}